.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    padding: 1.25rem 0;
    width: 100%;
}
.logoNameWrapper{
    // Make image and text inline
    display: inline-block;
    // Center the image and text
    text-align: center;

    margin-left:1.9rem
}

.logo{
    // Inline block
    display: inline-block;
    vertical-align: middle;
}

.bizName{
    display: inline-block;
    vertical-align: middle;
    color: #EEE;
    text-align: center;
    position: relative;
    margin-left:9px;


    // Font
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 37px; /* 102.778% */
}

// Search Bar Wrapper
.searchBarWrapper{
    // Flexbox for alignment
    display: flex;
    align-items: center;
    // justify-content: space-between;

    // Dimensions
    width: 931px;   
    height: 52px;

    // Styling
    background-color: #000;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

    // Positioning
    margin: 0 auto;

    // transition
    transition: all 0.3s ease-in-out;

    // if also has searchBarWrapperResults
    &.searchBarWrapperResults{
        // Remove border radius from bottom left and right
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
}

// Search Icon
.searchIcon{
    // Add any specific styles for the search icon here
    margin-left: 23.33px;
}

// Search Bar Input
.searchBarInput{
    // No background or border
    background-color: transparent;
    border: none;
    width: 91%;

    // Text color
    color: #fff;

    //Placeholder color
    &::placeholder{
        color: #A5A5A5;
    }


    //Positioning
    margin-left: 11.5px;
    
    // When active no border
    &:focus{
        outline: none;
    }


}


.actionButtonWrapper{
    display: flex;
    margin-right: 1.8rem;
}

.btn{
    display: flex;
    height: 52px;
    border-radius: 8.667px;
    padding: 0.90rem 17.33px;

    // Font
    font-family: Inter;
    font-size: 20.222px;
    text-align: center;
    font-weight: 500;
    line-height: 23.111px; /* 114.286% */

}

.signUpBtn{
    background-color: #EDEDED;
    color: #0A0A0A;
}
.loginBtn{
    background-color:#272727 ;
    color: #EDEDED;
    margin-left:  1.32rem;
}


// Search Resultes CSS
.searchResults{
    // background-color: red;
    width:931px;

    background-color: #000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

    // Bottom border raidus 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    padding: 1.4rem;
    top:72px;
    z-index: 6;
    margin-right:51px;
    // Align directly below search bar
    position: fixed;

    // No top margin or padding
    margin-top: 0;
    padding-top: 0;
}

.searchResultItem{
// Inline image and text
display: inline-flex;

}

.searchResultItemTitle{
    color:#A9A9A9;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.111px;
    margin-left:20px;
}

.resultSeparator{
    height: 2px;
    background: #1B1B1B;
    // opacity: 0;
    border: 1px solid #1B1B1B;
    margin: 12px 0;
}

.reloadIcon{
margin-left: 7px;
}